PUID=1001
PGID=1001
TZ=UTC
MEALIE_FRONTEND_VERSION=frontend-v1.0.0beta-4
MEALIE_BACKEND_VERSION=api-v1.0.0beta-4
MEALIE_EMAIL=someone@hotmail.com
MEALIE_URL=http://localhost
MEALIE_PORT=9001
MEALIE_PATH=~/Docker/mealie
MEALIE_SIGNUP=false
MEALIE_SMTP_HOST=smtp.gmail.com
MEALIE_SMTP_PORT=587
MEALIE_SMTP_FROM_NAME=Mealie
MEALIE_SMTP_FROM_EMAIL=changeme@gmail.com
MEALIE_SMTP_AUTH_STRATEGY=TLS
MEALIE_SMTP_USER=me@gmail.com
MEALIE_SMTP_PASSWORD=SuperSecretPassword!
MEALIE_LDAP_AUTH_ENABLED=false
MEALIE_LDAP_SERVER_URL=ldap://ldap.example.com
MEALIE_LDAP_TLS_INSECURE=false
MEALIE_LDAP_TLS_CACERTFILE=/path/to/ca.crt
MEALIE_LDAP_BIND_TEMPLATE="cn={},dc=example,dc=com, {}@example.com"
MEALIE_LDAP_BASE_DN="CN=Users,DC=xx,DC=yy,DC=de"
MEALIE_LDAP_ADMIN_FILTER="(memberOf=cn=admins,dc=example,dc=com)"