PLAUSIBLE_PATH=/media/usb-local/plausible
PLAUSIBLE_ANALYTICS_VERSION=stable
PLAUSIBLE_POSTGRES_VERSION=14-alpine
PLAUSIBLE_CLICKHOUST_VERSION=23.5-alpine
PLAUSIBLE_GEOIPUPDATE_VERSION=v5
PLAUSIBLE_BASE_URL=https://plausible.my.domain.com
PLAUSIBLE_SECRET_KEY_BASE=**openssl rand -base64 64 | tr -d '\n' ; echo**
PLAUSIBLE_GEOIPUPDATE_ACCOUNT_ID=**your-maxmind-account-id**
PLAUSIBLE_GEOIPUPDATE_LICENSE_KEY=**your-case-sensitive-maxmind-license-key**
PLAUSIBLE_MAILER_EMAIL=**plausible@plausible.teda.id.au**
PLAUSIBLE_SMTP_USER_NAME=**your-gmail@gmail.com**
PLAUSIBLE_SMTP_USER_PWD=**gmail-app-password**