PUID=1025
PGID=1000
FIREFLY_SITE_OWNER=my@email.com
FIREFLY_APP_KEY=Rand0m32bitAppKeyForEncryption
FIREFLY_TZ=UTC
FIREFLY_MARIADB_DATABASE=firefly
FIREFLY_MARIADB_USER=firefly
FIREFLY_MARIADB_PASSWORD=SecretPassword!
FIREFLY_PATH=/local/path/to/firefly/directory