FIREFLY_ACCESS_TOKEN="Generated in Options/Profile/OAuth/Create new token"
FIREFLY_APP_KEY=SomeRandomStringOf32CharsExactly
FIREFLY_IMPORTER_VERSION=version-0.9.10
FIREFLY_MARIADB_DATABASE=firefly
FIREFLY_MARIADB_PASSWORD=SuperSecret!Password*
FIREFLY_MARIADB_USER=firefly
FIREFLY_PATH=~/Dockerfiles/firefly
FIREFLY_SITE_OWNER=someone@hotmail.com
FIREFLY_TZ=UTC
FIREFLY_VERSION=version-5.7.5
MARIADB_VERSION=10.5.15-r0-ls51
PGID=1000
PUID=1025
REDIS_VERSION=7.0-rc-alpine