FLAME_PATH=~/Docker/flame
FLAME_PASSWORD=*SuperSecretPassword!*
# https://hub.docker.com/r/pawelmalak/flame
FLAME_VERSION=*Set me if you do not want latest image*
FLAME_PORT=*Set me to use alternate port to 5005*