PORTAINER_PATH=/local/folder/path
PUID=1027
PGID=100
TZ=Australia/Sydney
HEIMDALL_PATH=/local/folder/path/heimdall
PORTAINER_PATH=/local/folder/path/portainer
CLOUDFLARED_TUNNEL_TOKEN=randomTokenFromCloudflare
WATCHTOWER_CLEANUP="true"
WATCHTOWER_LABEL_ENABLE="true"