UID=1000
PGID=1000
PROMETHEUS_PATH=~/Dockerfiles/monitoring/prometheus
ALERTMANAGER_PATH=~/Dockerfiles/monitoring/alertmanager
GRAFANA_PATH=~/Dockerfiles/monitoring/grafana
TELEGRAF_PATH=~/Dockerfiles/monitoring/telegraf
GF_SECURITY_ADMIN_USER=ChooseAdminUser
GF_SECURITY_ADMIN_PASSWORD=ChangeMe
SPEEDTEST_CALLBACK='http://monitoring_prometheus:9090/metrics'
INFLUXDB_ADMIN_USER=ChooseAdminUser
INFLUXDB_ADMIN_PASSWORD=ChangeMe