## Paperless Environmental Variables
##
## Copy and rename to .env 

## Global Variables
## $ id
PUID=1000
PGID=1000

## Redis Server
REDIS_VERSION=latest

## Postgres Server
POSTGRESQL_VERSION=latest
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=paperless

## Gotenberg Server
GOTENBERG_VERSION=latest

## Tika Server
TIKA_VERSION=latest

## Paperless
PAPERLESS_VERSION=latest
PAPERLESS_PATH=
PAPERLESS_DOMAIN_NAME=https://paperless.mydomain.com
PAPERLESS_SECRET_KEY=<super-secret-unique-key>
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=password
PAPERLESS_ADMIN_MAIL=admin@mydomain.com
PAPERLESS_APP_TITLE=Paperless