# Set if you want to freeze a version
TRAEFIK_VERSION=latest

# $ echo $(htpasswd -nB ian) | sed -e s/\\$/\\$\\$/g
TRAEFIK_DASHBOARD_CREDENTIALS=<past_echo_result>

# Cloudflare Dashboard / Profile / API Tokens
CF_DNS_API_TOKEN=CopyFromCloudflareAPIToken

# Name of the docker host
HOSTNAME=<hostname>

# Domain name the host is part of
DOMAIN=<mydomain.com>