PUID=1025
PGID=1000
TZ=UTC
NEXTCLOUD_VERSION="23.0.3-ls176"
MARIADB_VERSION="10.5.15-r0-ls51"
REDIS_VERSION="7.0-rc-alpine"
NEXTCLOUD_PATH=/local/folder/path
NEXTCLOUD_MARIADB_ROOT_PASSWORD=mySecretRootPassword
NEXTCLOUD_MARIADB_PASSWORD=mySecretPassword