## Example environmental config
## Copy and rename to `.env`

WATCHTOWER_VERSION=1.7.1
WATCHTOWER_CLEANUP=true
WATCHTOWER_LABEL_ENABLE=true
WATCHTOWER_SCHEDULE="0 0 0 * * *"
NTFY_FQDN=<ntfy_server_name>
NTFY_TOPIC=<ntfy_topic>
NTFY_TOKEN=<account_token>
NTFY_TITLE=Computer%20Watchtower%20Updates #Spaces are not allowed, using http curl