# Uptime Kuma Environmental Configuration
#
# Copy and rename to `.env`

# Drive path to store Uptime Kuma
KUMA_PATH=/local/path/to/kuma

# Traefik domain name
UPTIME_KUMA_HOSTNAME=<uptime.mydomain.com>