## Unifi Network Application

PUID=1000
PGID=1000
TZ=Etc/UTC

## Mongo DB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_USER=unifi
MONGO_PASS=password
MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=admin

## Unifi Application
UNIFI_PATH=~/Desktop/Docker/unifi_application
UNIFI_HOSTNAME=<host.mydomain.com>