## GLOBAL VARIABLES
PUID=<replace with $id uid output>
PGID=<replace with $id gid output>
TZ=UTC

## DOCKER VOLUME BIND PATHS
TRANSMISSION_PATH=~/Dockerfiles/transmission
DOWNLOADS_PATH=~/Downloads
DOWNLOADS_INCOMPLETE_PATH=~/Downloads/incomplete

## VPN PROVIDERS
## https://haugene.github.io/docker-transmission-openvpn/supported-providers/
OPENVPN_PROVIDER=<select provider>
OPENVPN_CONFIG=<select provider vpn location>
OPENVPN_USERNAME=<vpn username>
OPENVPN_PASSWORD=<vpn password>

## TRANSMISSION OPTIONS
## https://haugene.github.io/docker-transmission-openvpn/config-options/
TRANSMISSION_VERSION=4.0
TRANSMISSION_LOCAL_NETWORK=192.168.1.0/24
TRANSMISSION_RPC_USERNAME=<transmission username>
TRANSMISSION_RPC_PASSWORD=<transmission password>