# Semaphore

# Global Variables
UID=1000
GID=1000

# Postgres Variables
POSTGRES_VERSION=17
POSTGRES_DB=semaphore
POSTGRES_USER=semaphore
POSTGRES_PASSWORD=!change-me-database-password!

# Semaphore UI Variables
SEMAPHORE_VERSION=latest
SEMAPHORE_PATH=~/Desktop/Semaphore
SEMAPHORE_ADMIN_NAME=semaphore
SEMAPHORE_ADMIN_PASSWORD=!change-me-secrete-password!
SEMAPHORE_ADMIN_EMAIL=someone@gmail
SEMAPHORE_ACCESS_KEY_ENCRYPTION=!change-me-random-encryption-key!