# Semaphore Environmental Variables
UID=1000
GID=1000
PG_VERSION:-17
PG_PASS=!change-me-database-password!
SEMAPHORE_VERSION=latest
SEMAPHORE_PATH=~/Desktop/Semaphore
SEMAPHORE_ADMIN_NAME=semaphore
SEMAPHORE_ADMIN_PASSWORD=!change-me-secrete-password!
SEMAPHORE_ADMIN_EMAIL=someone@gmail
SEMAPHORE_ACCESS_KEY_ENCRYPTION=!change-me-random-encryption-key!